body
{
	font-family: 'Noto Sans', sans-serif;
	background-color: #4c4344;
}

.styleTitle
{
	font-family: 'Milonga', cursive;
}

.content
{
	color: #4c4344;
	background-color: #e8e8e8;
	width: 800px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}