extends layout

block content
    div(class="textBody")

        div(class="section")
            h1(class="heading large")   Andrea Steiling
            p(class="textBlock")
                img(height="300px", src="./images/andrea.jpg", class="leftFloatingImage")
                | Andrea, the bride to be, works as an Attorney in Albuquerque, New Mexico,
                | which is where she met Alex.  She enjoys listening to music, and doing things
                | with her Boo.

        div(class="section")
            h1(class="heading large")   Alex Woody
            p(class="textBlock")
                img(height="300px", src="./images/alex.jpg", class="rightFloatingImage")
                | Alex, the groom, is an Albuquerque native.  He recently got his masters
                | degree from the University of New Mexico, and now works as a software
                | developer in Albuquerque.  In his spare time, Alex likes to ride his bike,
                | work in his garden, and do various projects with his many computers.  Alex
                | made this website as an excuse to learn some new web-related technologies.

        div(class="section")
            h1(class="heading large")   Jennifer Hardy-Steiling
            p(class="textBlock")
                img(height="300px", src="./images/jen.jpg", class="leftFloatingImage")
                | Jen, Andrea's sister-in-law, is the Matron of Honor and the proud mother
                | of three beautiful daugheters: Abby, Sophia (SoSo), and Charlotte (Lottie).


        div(class="section")
            h1(class="heading large")   Matthew Woody
            p(class="textBlock")
                img(height="500px", src="./images/matt.jpg", class="rightFloatingImage")
                | Matt, Alex's brother, was recently married and will be the Patron of Honor
                | in the wedding.  Matt is a manager at T-Mobile, and loves anything to do with
                | cell phones and mobile devices.  He is also an avid home-brewer, and is always
                | making an interesting new beer.  He and his wife, Judy, love taking hikes with
                | their dog, <a href="http://en.wikipedia.org/wiki/Laika" target="#">Laika</a>, whom they rescued from a local shelter.  Laika is named after
                | a Soveit Space Dog who was the first animal to orbit the earth.

    script
        $(document).ready(function (){
            $('#party').addClass('selected').removeClass('unselected');
        });