extends layout

block content
    div(class="textBody")

        div(class="section")
            h1(class="heading large")   Andrea and Alex
            p(class="textBlock")
                img(height="300px", src="./images/andreaAndAlex.jpg", class="leftFloatingImage")
                | We are excited to have all of our friends and family
                | come and celebrate with us, eat good food, and have a good time!
                | Andrea and Alex enjoy visiting all of the wonderful breweries and food
                | trucks around town.  We try to jog together as often as possible, and
                | Andrea loves it when Alex sings her songs.  We are both avid dancers,
                | and our favorite dance spot is the kitchen.  We look forward to seeing you
                | all on the dance floor!


        div(class="section")
            h1(class="heading large")   Jen Steiling
            p(class="textBlock")
                img(height="500px", src="./images/jen.jpg", class="leftFloatingImage")
                | Jen, Andrea's sister-in-law, is the Matron of Honor and the proud mother
                | of three beautiful daugheters: Abby, Sophia (SoSo), and Charlotte (Lottie).
                | She is married to Andrea's brother, Chris.  Like us, Jen is also an avid
                | dancer, and is sure to give us a run for our money once the beats start bumping.


        div(class="section")
            h1(class="heading large")   Matthew Woody
            p(class="textBlock")
                img(height="500px", src="./images/matt.jpg", class="rightFloatingImage")
                | Matt, Alex's brother, was recently married and will be the Man of Honor
                | in the wedding.  Matt is a manager at T-Mobile, and loves anything to do with
                | cell phones and mobile devices.  He is also an avid home-brewer, and is always
                | making an interesting new beer.  He and his wife, Judy, love taking hikes with
                | their dog, <a href="http://en.wikipedia.org/wiki/Laika" target="#">Laika</a>, whom they rescued from a local shelter.  Laika is named after
                | a Soveit Space Dog who was the first animal to orbit the earth.

        div(class="section")
            h1(class="heading large")   Flower Girls
            p(class="textBlock")
                img(width="500px", src="./images/flowerGirls.jpg", class="leftFloatingImage")
                | We are really excited to have Andrea's 3 neices be our flower girls for the wedding!

    script
        $(document).ready(function (){
            $('#party').addClass('selected').removeClass('unselected');
        });