extends layout

block content
    div(class="textBody")

        div(class="section", id="photoHolder")

            h1(class="heading large")   Photos

            p(class="textBlock")
                | This page is just a collection of some of our favorite photos from the
                | last few years!

    script

        var delayHeightCalculation = true;

        $(document).ready(function (){
            $('#photos').addClass('selected').removeClass('unselected');

            var totalImages = 25;

            for(var i=1; i <= totalImages; i++)
            {
                addPhoto(i);
            }
        });

        var addPhoto = function(index)
        {
            console.log("Add image");
            var location = "./images/slideshow/";
            $("#photoHolder")
                .append($("<img>")
                .attr("class", "slideshowImage")
                .attr("src", location + index + ".jpg")
                .attr("width", "400px"));
        };