extends layout

block content
    div(class="textBody")

        div(class="section")

            h1(class="heading large")   Things to do in Albuquerque
            p(class="textBlock")
                | We love Albuquerque, and this page is a collection of some of
                | our favorite things to do around town!

        div(class="section")
            h1(class="heading large")   Breweries and Bars Map
            p(class="textBlock")
                | This map shows all of our favorite breweries and bars.  Information about some of them
                | can be found below. <br /> <br />
                | <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=214831692893555351638.0004dda8919736fdf190e&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=35.161051,-106.632349&amp;spn=0.163248,0.064774&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=214831692893555351638.0004dda8919736fdf190e&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=35.161051,-106.632349&amp;spn=0.163248,0.064774&amp;source=embed" style="color:#0000FF;text-align:left">Albuquerque Brewery Map</a> in a larger map</small>

            h1(class="heading medium")   La Cumbre Brewing Company
            p(class="textBlock")
                img(height="300px", src="http://awesomenessbyvolume.com/wp-content/uploads/2012/12/0000829_elevated-ipa.jpeg", class="leftFloatingImage")
                | <a href="http://www.lacumbrebrewing.com" target="#">La Cumbre</a> brewing company is a great local brewery, and they are
                | making quite a name for themselves with their Elevated IPA.  This is
                | a fun spot to hang out and have a good beer.

            h1(class="heading medium")   Chama River Brewing Company
            p(class="textBlock")
                img(height="300px", src="http://media-cdn.tripadvisor.com/media/photo-s/02/ed/30/15/chama-river-brewing-company.jpg", class="rightFloatingImage")
                | Chama is a nice local brewery and restaurant, located near the biggest movie theater in town.  Their Rio Lodo brown ale is one of Alex's favorite
                | beers, and they always have something interesting on tap.  Andrea likes their appetizers, particularly their hummus.

            h1(class="heading medium")   Il Vicino Brewing Company (IVB Canteen)
            p(class="textBlock")
                img(width="300px", src="http://ilvicino.com/brewery/files/2011/10/UpdatedHeaderCanteen1.png", class="leftFloatingImage")
                | Il Vicino has a large varitey of beers, and also food.  One thing people from out of state have to try is the Frito Pie,
                | which is an unholy union between chile and fritos.  It's something everyone needs to experience.  In the fall, we expect
                | that they will have some of their pumpkin beer on tap, which is always good.

            h1(class="heading medium")   Tractor Brewing Company
            p(class="textBlock")
                img(width="300px", src="http://getplowed.com/site/wp-content/uploads/2012/11/6386983559_2dcc05a388_z.jpg", class="rightFloatingImage")
                | <a href="http://www.getplowed.com/" target="#">Tractor Brewing</a> really loves the puns, particularly if they involve
                | plows. Andrea really likes their wheat beer, and Alex is happy because they sell Eleveated IPA there.  There are usually
                | a few food trucks parked outside, and this is a big attraction since the food truck industry in Albuquerque is currently
                | booming.  It's also located in Nob Hill, which is the nicest place to hang out on a Friday or Saturday night in the city.

        div(class="section")
            h1(class="heading large")   Hiking and Other Attractions
            p(class="textBlock")
                | Albuquerque is known for its outdoor environments.  There is plenty of hiking, either around the river
                | in the Bosque, or at the base of the Sandia Mountains.

            h1(class="heading medium")   Sandia Peak Tramway
            p(class="textBlock")
                img(width="300px", src="http://cdn1.gbot.me/photos/PG/cl/1284984427/Sandia_eak_Tram_02-Sandia_Peak_Tramway-3000000027215-500x375.jpg", class="leftFloatingImage")
                | The <a href="http://www.sandiapeak.com/" target="#">Sandia Peak Tramway</a> is famous world-wide
                | for once being the longest tram in the world.  It is now the third longest, and offers an amazing
                | view of the city during its 3000 foot ascent to the top of the Sandia Mountains.  It is a great
                | thing to see if you have the time, but remember to bring a jacket! It gets cold on the peak!

            h1(class="heading medium")   Rio Grande Nature Center
            p(class="textBlock")
                img(width="300px", src="http://3.bp.blogspot.com/-l0eGHRShRgQ/UI8k67Ox_UI/AAAAAAAACPQ/B-ylvJvxqHc/s1600/IMG_7494.2.jpg", class="rightFloatingImage")
                | The <a href="http://www.rgnc.org/" target="#">Rio Grande Nature Center</a> is the center
                | for anyone who would like to visit the Bosque, New Mexico's unique landscape which borders
                | the Rio Grande River and is full of Cottonwood trees.  Alex and Andrea have hiked here
                | many of times, and it's one of their favorite places to visit together.

            h1(class="heading medium")   La Luz Trail
            p(class="textBlock")
                img(width="300px", src="http://0.tqn.com/d/gaytravel/1/0/e/R/-/-/La_Luz_Trailhead_1.JPG", class="leftFloatingImage")
                | The La Luz Trail starts at the base of the Sandia Mountains and climbs all the way to their peak.  If you choose
                | to hike the entire trail, it is easily a day's work, but you can hike portions of it as well.  Alex's parents
                | hike it on a regular basis, and are always talking about how wonderful it is.

            h1(class="heading medium")  Santa Fe
            p(class="textBlock")
                img(width="300px", src="http://media-cdn.tripadvisor.com/media/photo-s/01/c5/a3/98/la-fonda-on-the-plaza.jpg", class="rightFloatingImage")
                | If you're in town for a few days and have the time, Santa Fe is about 45 minutes north of Albuquerque, and
                | offers a completely different experience.  There are hundreds of nice shops, art galleries and plenty
                | of options for food lovers.  Andrea and Alex go there pretty often, and if you have any questions feel
                | free to ask!

            h1(class="heading medium")   Other Attractions
            p(class="textBlock")
                | <a href="http://www.cabq.gov/culturalservices/biopark" target="#">Albuquerque Biopark</a> <br /> <br />
                | <a href="http://www.cabq.gov/culturalservices/biopark/zoo" target="#">Albuquerque Zoo of Animals</a> <br /> <br />
                | <a href="http://www.nmnaturalhistory.org/" target="#">Natural History Museum</a> <br /> <br />
                | <a href="http://www.nps.gov/petr/index.htm" target="#">Petroglyphs National Monument</a> <br /> <br />
                | <a href="http://www.nuclearmuseum.org/" target="#">National Museum of Nuclear Science and History</a> <br /> <br />
                | <a href="http://www.explora.us/en/" target="#">Explora Childrens Museum</a> <br /> <br />
                | <a href="http://www.cabq.gov/culturalservices/albuquerque-museum" target="#">Albuquerque Museum</a> <br /> <br />
                | <a href="http://www.balloonmuseum.com/" target="#">Baloon Museum</a>

            div(class="section")
                h1(class="heading large")   Food
                p(class="textBlock")
                    | New Mexico is home to a unique variety of food called New Mexican Food.  At the heart of New Mexican food
                    | are the native chile peppers that we are all very proud of, which come in two flavors: red and green.
                    | We hope that all of our guests get a chance to go and check out some New Mexican restaurants while they
                    | are in town, and a few of our favorites are listed here. <br /> <br />
                    | When ordering New Mexican food, bear in mind that there are essentially three ways you can have your
                    | chile: Red, Green and Christmas.

                p(class="textBlock")
                    img(width="300px", src="http://whatscookingamerica.net/Soup/BowlOfRedChili.jpg", class="leftFloatingImage")
                    | Red Chile is generally served as a sauce that covers up your dish, and many think that it is the hotest
                    | variety, although there is plenty of hot green chile to go around.

                p(class="textBlock")
                    img(width="300px", src="http://noisyastronomer.com/wp-content/uploads/2011/03/4691837671_9af0c6ed96.jpg", class="rightFloatingImage")
                    | Green Chile can be served as a sauce or chopped, depending on what you're eating, but chopped is the most
                    | common vareity.  In New Mexico, we love to put green chile on pretty much anything you can think of.  McDonalds
                    | and Wendys both serve it on hamburgers, we put it in alfredo sauce, and it goes really well with
                    | marinara sauce.

                p(class="textBlock")
                    | Christmas chile is such a rare and special mixture that google is incapable of serving up a suitable image for it.
                    | We might get murdered for even mentioning it on this website.  Christmas chile is the holy union between Red and
                    | Green chile, and is generally available on request at any New Mexican restaurant.  Try it and you won't be
                    | dissapointed.

                h1(class="heading medium")   Cervantes
                p(class="textBlock")
                    img(width="300px", src="http://www.cervantesabq.com/sites/default/files/styles/original/public/slide_interior_02.png", class="rightFloatingImage")
                    | If you ask us, <a href="http://www.cervantesabq.com/" target="#">Cervantes</a> is the flagship restaurant of New Mexican food.  Typing this guide up has made us want to go there
                    | right now.  Andrea loves it because they don't cook their beans with lard, and Alex loves it because if you ask, they can give you beans that are.  It's a perfect
                    | spot for couples, since they have margaritas for two and special love seats that you can sit at if you ask.  They have something very special there, which is
                    | called a South of the Boarder.  Chicken Fried Steak with Red Chile anyone?  Also, the whole place is themed after colonial Spain and Don Quixote.

                h1(class="heading medium")   Padillas
                p(class="textBlock")
                    | Padillas is a small place that is cash-only and always crowded.  Their chile is never too hot, but the recipie is great and the food is
                    | always consistent.  It's a great place for newcomers and veterans alike.

                h1(class="heading medium")   Thai Vegan
                p(class="textBlock")
                    | <a href="http://www.thaivegannm.com/" target="#">Thai Vegan</a> is a very special place.  They only serve vegan food there, but they have managed to imitate almost every
                    | major non-vegan food you can think of.  Get the crispy chicken appetizer and go from there!  You're really in for a treat if you go on your Birthday!

                h1(class="heading medium")   Frontier Restaurant
                p(class="textBlock")
                    img(width="300px", src="http://www.roadfood.com/photos/7490.jpg", class="rightFloatingImage")
                    | The <a href="http://www.frontierrestaurant.com/" target="#">Frontier Restaurant</a> is a place everyone should visit.
                    | Every city has a place that has been around long enough that everyone knows about it and has stories to tell about it,
                    | and in Albuquerque, that's the frontier.  The food is solid, especially the breakfast
                    | burritos and cinamon rolls, and they have a little bit of everything.  Moreover, it's a hub for
                    | the nearby University of New Mexico, and is always full of people.  Each room has a different theme,
                    | but we reccommend breaking your fast in the John Wayne room in particular.

                h1(class="heading medium")   Other Restaurants
                p(class="textBlock")
                    | <a href="http://www.chilerio.com/" target="#">Chile Rio</a> <br /> <br />
                    | <a href="http://www.elbrunos.com/" target="#">El Brunos</a> <br /> <br />
                    | <a href="http://www.elpinto.com/" target="#">El Pinto</a> <br /> <br />
                    | <a href="http://www.scalonobhill.com/" target="#">Scalo</a> <br /> <br />
                    | <a href="http://www.sadiesofnewmexico.com/" target="#">Sadies</a> <br /> <br />
                    | <a href="http://www.durancentralpharmacy.com/" target="#">Druan Central Pharmacy</a> <br /> <br />
                    | <a href="http://www.standarddiner.com/" target="#">Standard Diner</a> <br /> <br />


    script
        $(document).ready(function (){
            $('#todo').addClass('selected').removeClass('unselected');
        });
